.estadistica-fondo{
    background: #85ff8f;
    background: url("/img/pirata.jpg");
    width: 100%;

    height: 100vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
} 
.fondo-pirata{
    background: #2c5e79;
    background-image: url("/img/fondo-pirata.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
}
.estadisticatitulo{
    font-family: "roboto";
    font-size: 90px;
    letter-spacing: -8px;
    font-weight: 900;
    color: #24045a;
    text-align: center; 
}
.empezar-estadistica{
    background-color: #073a82;
    color: white;
    font-weight: 900;
    font-family: "roboto";
    font-size: 39px;
    border: none;
    padding: 5px;
    border-radius: 20px;
}
@media (max-width:890px){
    .estadisticatitulo{
        font-family: "roboto";
        font-size: 70px;
        letter-spacing: -3px;
        font-weight: 900;
        color: #24045a;
        text-align: center; 
    }
    .empezar-estadistica{
        margin-top: 15px;
    }
}
.juego1-estadistica{
    animation: juego1 5s ;
    background-image: url("/img/grafica1.png");
    background-position: center;
    background-size: cover;
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    transition: 1s;

    
}
@keyframes juego1{
    0%{ background-image: url("/img/grafica1.gif");}
}
.juego2-estadistica{
    animation: juego2 5s ;
    background-image: url("/img/grafica3.png");
    background-position: center;
    background-size: cover;
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    transition: 1s;

    
}
@keyframes juego2{
    0%{ background-image: url("/img/grafica3.gif");}
}
.juego3-estadistica{
    animation: juego3 5s ;
    background-image: url("/img/grafi.png");
    background-position: center;
    background-size: cover;
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    transition: 1s;

    
}
@keyframes juego3{
    0%{ background-image: url("/img/grafi.gif");}
}
.juego4-estadistica{
    animation: juego4 5s ;
    background-image: url("/img/grafica4.png");
    background-position: center;
    background-size: cover;
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    transition: 1s;

    
}
@keyframes juego4{
    0%{ background-image: url("/img/grafica4.gif");}
}
.juego5-estadistica{
    animation: juego5 5s ;
    background-image: url("/img/grafica5.png");
    background-position: center;
    background-size: cover;
    width: 485px;
    margin-left: auto;
    margin-right: auto;
    height: 358px;
    transition: 1s;

    
}
@keyframes juego5{
    0%{ background-image: url("/img/grafica5.gif");}
}
.juego7-estadistica{
    background-image: url("/img/tabla1.png");
    background-position: center;
    background-size: cover;
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    transition: 1s;

    
}
.estadistico-juego{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.estadistico-juego h3{
    background-color: rgb(0, 160, 115);
    border-radius: 30px;
    text-align: center;
    font-size: 31px;
    font-family: "fredoka one";
    letter-spacing: 1px;
    text-align: center;
    color: rgb(255, 255, 255);
}
.title{
    background-color: #fdd9e5;
    margin-left: 65px;
  width: 520px;
    text-align: justify;
    font-size: 25px;
    font-family: "fredoka one";
    letter-spacing: 1px;
    text-align: center;
    color: black;
}
.estadistico-juego button{
    border: none;
    font-family: "fredoka one";
    font-size: 26px;
    width: 250px;
    height: 100px;
    color: white;
    margin: 25px;
    border-radius: 10px;
    background-color: #f20875;
    justify-content: center;
    align-items: center;
}.estadistico-juego button:hover{
    background-color: #08f2d7;
}
.es button{
    border: none;
    font-family: "fredoka one";
    font-size: 26px;
    width: 250px;
    height: 83px;
    color: white;
    margin: 10px;
    border-radius: 10px;
    background-color: #f20875;
    justify-content: center;
    align-items: center;
}.es button:hover{
    background-color: #08f2d7;
}

.boton-estadistico{
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}
.drop-table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 0px 0px 20px;
    height: 78%;
}
.drop-table2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 0px 0px 20px;
    height: 78%;
}
.drop-table2 div{
    border-radius: 0px;
    border-color: 2px solid rgb(255, 30, 30);
}
.drop-table div{
    border-radius: 0px;
    border-color: 2px solid rgb(255, 30, 30);
}
.box-table{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 25px;
    padding-top: 0px;
    border: 1px solid #f20875;
    padding-bottom: 0px;
    margin: 0px;
    text-align: center;
    font-family: "roboto";
    width: 200px;
    height: 47px;
}

.grid-table-estadisitca{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid-table-estadisitca2{
    display: grid;
    grid-template-columns: 65% 30%;
   
}
.grid-table-estadisitca3{
    display: grid;
    grid-template-columns: 52% 46%;
   
}
.drag-table{
    position: relative;
    top: -100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    height: 47px;
}
.drag-table2{
    position: relative;
    top: -50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    height: 47px;
}
.drag-table3{
    position: relative;
    top: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    height: 47px;
}
.drag-d-table{
    width: 200px;
    height: 47px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 25px;
    padding-top: 0px;
    margin-bottom: 10px;
    border: 1px solid #f20875;
    padding-bottom: 15px;
    text-align: center;
    font-family: "roboto";
}
.table-1{
    background-color: #f20875;
    color: white;
    font-size: 30px;
    
}
.tabla-grid{
    display: grid;
    grid-template-columns: 1fr;
   
}
.tabla-grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}
.titlep{
    width: 100%;
    margin: 0px;
    padding: 0px 10px 0px 10px;
    background-color: azure;
    font-family: "roboto";
    text-align: justify;
    font-size: 18px;
    font-style: oblique;
    font-weight: bolder;
}
.titlep2{
    width: 96%;
    margin: 0px;
    padding: 0px 10px 0px 10px;
    background-color: azure;
    font-family: "roboto";
    text-align: justify;
    font-size: 18px;
    font-style: oblique;
    font-weight: bolder;
}
.img-es{
    width: 440px;
}