.geometria-fondo{
    background: #85ff8f;
    background: url("/img/geometria.jpg");
    width: 100%;

    height: 100vh;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.geometriatitulo{
    font-family: "roboto";
    font-size: 129px;
    letter-spacing: -8px;
    font-weight: 900;
    color: #070055;
    text-align: center;
}
.bosquedivertido{
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.bosquedivertido p{
    font-family: "roboto";
    font-weight: 900;
    height: 15px;
    font-size: 20px;
}
.empezar-geomteria{
    background-color: #E28B5B;
    color: white;
    font-weight: 900;
    font-family: "roboto";
    font-size: 39px;
    border: none; 
    padding: 5px;
    border-radius: 20px;
}
@media (max-width:890px){
    .geometriatitulo{
        font-size: 95px;
    }
    .empezar-geomteria{
        margin-top: 47px;
    }
}
.geometria-fon{
    background: #00e6bc;
    background-image: url("/img/geometria-fondoadentro.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
}
.igual{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    border-radius: 30px;
    background-color: #363869;
    background-color: #023e87;
    height: 120px;
    gap: 20px;
}
.aleatoria{
    background-color: rgb(255, 255, 255);
    background-color: #080d69;
    background-color: #023e87;
    display: grid;
    border-radius: 30px;
    gap: 20px;
    height: 120px;
    grid-template-columns: 1fr 1fr 1fr;
}
.igual:hover {
    cursor: pointer;
    background-color: rgb(255, 1, 153);
}
.aleatoria:hover {
    cursor: pointer;
    background-color: rgb(255, 1, 153);
}
.congruencia img{
    width: 100%;
   
}
.congruencia{ 
    padding: 30px;
     display: grid;
     width: 1300px;
     
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}

.congruencia-main h3{
    background-color: #f20875;
    text-align: center;
    font-size: 33px;
    color: white;
    font-family: "fredoka one";

}
.congruencia-grid{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr ;
}
.congruencia-grid img{
    width: 48%;
    margin-left: 80px;
    
    
}
.grid-congruencia-main{
    display: grid;
    margin-bottom: 30px;

    grid-template-columns: 1fr 30px 1fr ;
}
.grid-congruencia-main hr{
    background-color: rgb(135, 222, 213);
    border-radius: 30px;
    height: 100%;
    width: 3px;
    border: 8px solid rgb(255, 255, 255);
}
.grid-congru{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    row-gap: 70px;
}
.grid-congru div{
    height: 170px;
    width: 170px;
   margin-bottom: 15px;
    


}
.grid-congru img{
    height: 170px;
    width: 170px;
   padding-bottom: 5px;
}
.grid-congruj5{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    row-gap: 70px;
}
.grid-congruj5 div{
    height: 180px;
    width: 200px;
   margin-bottom: 15px;
    


}
.grid-congruj5 img{
    height: 180px;
    width: 200px;
   padding-bottom: 5px;
}
.box-drop{
    border-color: #f20875;
 
}


.drag-congruencia{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7px;
}
.drag-congruencia div{
    height: 170px;
    width: 170px;
   margin-bottom: 25px;
    

}
.drag-congruencia img{
    height: 165px;
    width: 165px;
   margin-bottom: 25px;
    
}
.drag-congruenciaj5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7px;
}
.drag-congruenciaj5 div{
    height: 180px;
    width: 200px;
   margin-bottom: 25px;
    

}
.drag-congruenciaj5 img{
    height: 180px;
    width: 200px;
   margin-bottom: 25px;
    
}