.HomeWork-monster{
    background: #292349;
    background: url("/img/spa.jpg");
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.empezar{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: #C40064;
    padding: 4px 20px;
    font-weight: bolder;
    border: 4px solid #FFF7F7;
    border-radius: 500px;
    font-family: 'Staatliches';
    letter-spacing: 5px;
    font-size: 30px;
}
.space-letter{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 500px;
    line-height: 82.69%;
    /* or 661px */

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    background: conic-gradient(from 180deg at 50.03% 42.66%, #00F0FF 0deg, #07B8FD 138.75deg, #00F0FF 360deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    text-shadow: 20px 51px 8px rgba(0, 0, 0, 0.4);
}
.numeracion{
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 82.69%;
    /* or 165px */

    text-align: center;
    letter-spacing: 0.335em;
    text-transform: uppercase;

    color: #FFFFFF;

}
.space-img{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.space-img img{
    margin-top: 90px;
    width: 100%;
}
.centrar{
    margin-top: 15%;
    margin-right: auto;
    margin-left: auto;
    width: 300px;

    text-align: center;
   
}
.Felicitaciones button{
    border: none;
    font-weight: 900;
    width: 60%;
    padding: 5px;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    background-color: #c801a7;
    border-radius: 20px;
    font-family: "roboto";
}
.triangulo {
    width: 0; 
    height: 0; 
    border-left: 100px solid #ffb957;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent; 
    transition: 1s;
    scale: p;
    rotate: 0deg;
    animation: animacion-triangulorotate 14s infinite;
    position: absolute;
    top: 70px;
}
.triangulo-2 {
    width: 0; 
    height: 0; 
    border-left: 100px solid #8957ff;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent; 
    transition: 1s;
    rotate: 0deg;
    animation: animacion-triangulorotate 30s infinite;
    position: absolute;
    right: 20px;
}
.triangulo-3 {
    width: 0; 
    height: 0; 
    border-left: 100px solid #57ffe0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent; 
    transition: 1s;
    rotate: 0deg;
    animation: animacion-triangulorotate 18s infinite;
    position: absolute;
    left: 10%;
}
.triangulo-4 {
    width: 0; 
    height: 0; 
    border-left: 100px solid #ff57c4;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent; 
    transition: 2s;
    rotate: 0deg;
    animation: animacion-triangulorotate 5s infinite;
    position: absolute;
    left: 50%;
    top: 40%;
}
@keyframes animacion-triangulorotate{
    0%{rotate: 10deg; }
    0%{rotate: 900deg;  }
    0%{rotate: 180deg;  }
    0%{rotate: 270deg; }
    0%{rotate: 370deg; }
}
.circle-1{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #ff57c4;
    position: absolute;
    left: 10%;
    top: 20%;
}
.circle-2{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #57fff1;
    position: absolute;
    left: 80%;
    top: 50%;
}
.space-fondo{
    background: #292349;
    background-image: url("/img/sistemasolar.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
}
.Felicitaciones h1{
    text-align: center;
    font-size: 65px;
    margin-top: 50px;
    color: #ffffff;

}
.Felicitaciones div{
    width: 100%;
    height: 100vh;
    text-align: center;
    position: fixed;padding: 100px;
}
@media (max-width:700px){
    .Felicitaciones div{
        padding: 10px;
        padding-top: 120px;
    }
    .Felicitaciones h1{ 
        font-size: 40px;
    }
}
.Felicitaciones{
    background: #292349;
    background-image: url("/img/giphy.gif");
    background-position: center;
    background-size: cover;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
    overflow-x: hidden; 
    height: 100vh;
    font-family: "fredoka one";

}
.dialogo{
    padding: 10px;
    width: 60%;
    min-height: 360px;
    max-height: auto;
    background-color: #541b82f7;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 7px;
    
}
@media (max-width:1120px){
    .dialogo{
        width: 70%;

    }
}
@media (max-width:1030px){
    .dialogo{
        width: 80%;

    }
}
@media (max-width:840px){
    .dialogo{
        width: 90%;

    }
}

.dialogo p{
    font-size: 23px;
    color: white;
    font-weight: 400;
}
@media (max-width:730px){
    .dialogo{
        width: 98%;

    }
    .dialogo p{
        font-size: 17px;
        color: white;
        font-weight: 400;
    }
}
.dialogo h1{
    font-family: "fredoka one";
    color: white;
    font-weight: 500;
    font-size: 34px;
    text-align: center;
}
.siguiente-espacial{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 300px;
    margin-bottom: 300px;
    margin-bottom: 300px;

}
.siguiente-espacial button{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #C40064;
    color: white;
    background: linear-gradient(180deg, #F703DE 0%, #5C22A6 100%);
    border-radius: 35px;
    margin-top: 10px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    font-size: 19px;

}
.video-space{
    margin-top: 70px;
    width: 70%;
    border: 5px solid #ee00ffd3;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;

}
@media (max-width:900px){
    .video-space{
        width: 90%;
    }
}
@media (max-width:700px){
    .video-space{
        width: 100%;
    }
}
.video-space iframe{
    width: 100%;
}
.dialogo-pregunta{
    padding: 10px;
    width: 60%;
    min-height: 360px;
    max-height: auto;
    background-color: #541b82d3;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    font-family: "fredoka one";
    color: white;
    border-radius: 15px;
    text-align: center;
    gap: 7px;
}
.dialogo-pregunta h1{
    font-size: 20px;
    font-family: "roboto";
}
.dialogo-pregunta h3{
    font-familiy:"roboto";
    font-size:24px;
    font-weight: 200;
}
.dialogo-pregunta button{
    margin: 15px;
    font-family: "roboto";
    font-weight: bold;
    font-size: 22px;
    padding: 10px 12px;
    width: 220px;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    border: none;
    background-color:rgb(255, 106, 141);

}
@media (max-width:700px){
    .dialogo-pregunta{
        width: 100%;
    }
}
.Modal{
    background-color: rgb(35, 35, 35);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
    display: none;
    text-align: center;
    padding-top: 120px;
}
.Modal div{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.Modal h1{
    font-family: "fredoka one";
    font-size: 100px;
    color: #57ffe0;
}
.Modal-Active{
    display: block;
}
.Incorrecto h1{
    color: #C40064;
}
.numeraciontitulo{
    font-family: "roboto";
    font-size: 129px;
    letter-spacing: -8px;
    font-weight: 900;
    color: #4e0ce9;
    text-align: center;
}
@media (max-width:890px){
    .numeraciontitulo{
        font-size: 80px;
    }
    .empezar-medicion{
        margin-top: 45px;
    }
}
.dialogo-pregunta input{
    width: 60%;
    padding: 12px;
    border: none;
    border-radius: 20px;
}
.dialogo-pregunta input::placeholder{
    font-size: 20px;
    text-align: center;
}
.dialogo-pregunta input:placeholder-shown{
    font-size: 20px;
    text-align: center;
}
.dialogo-atras{
   position: absolute; 
   border: none;
   font-weight: bold;
   background-color: #00F0FF;
   color: white;
   font-size: 20px;
   padding: 5px 15px;
   border-radius:0px 0px 10px 0px ;
}