.drop-multiplicacion{
    display: inline-block;
   
   
   
    text-align: center;
    justify-content: center;
    align-items: center;
  }
 
  
  .box-drop-multiplicacion {
   margin: 1px;
    width: 140px;
    height: 70px;
    background-color: white;
    border-radius: 10px;
    border: 4px solid #161616;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    font-family: "fredoka one";
    font-weight: 900;
    color: black;
  }
 
  .drag-multiplicacion {
    display: inline-block;
    width: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  .drag-d-multiplicacion {
   
    width: 140px;
    border-color: #f20875;
    border: 4px solid #161616;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    font-family: "fredoka one";
    font-weight: 900;
    color: #ffffff;
    background-color: #005f7b;
    height: 70px;
    cursor: pointer;
  }
  .drag-d-multiplicacion :hover {
    background-color: #0df0ff;
  }
  
  .grid-multiplicacion{
    padding: 0%;
    margin: 0%;
    display: grid;
    grid-template-columns: 50% 15% 15% 15%
  }
  
  

  .drop-mult{
    display: grid;
    
    width: auto;
    padding-left: 26%;
    text-align: center;
   
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }
  .drop-mult-1 {
    display: grid;
    width: auto;
    padding-left: 36.7%;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }
  .drop-mult-2 {
    display: grid;
    gap: 10px;
    width: auto;
    padding-left: 10%;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }
  .box-drop-mult-s{
    display: grid;
    gap: 10px;
    width: auto;
    padding-left: 21.4%;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }
  .drop-mult-3 {
    display: grid;
    gap: 10px;
    width: auto;
    padding-left: 21.4%;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }
  .drop-mult-f1 {
    display: grid;
    gap: 10px;
    width: auto;
    padding-left: 13.5%;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }
  .drop-mult-f2 {
    display: flex;
    padding-right: 10px;
   
  }
  .drop-mult-j8 {
    display: flex;
    margin-left: -10px;
   
  }
  .drop-mult-j8-2 {
    display: flex;
    margin-left: 70px;
   
  }
  .drop-mult-f12 {
    display: grid;
   
    width: auto;
    padding-left: 1.2%;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }
  .drop-mult-f111{
    display: grid;
   
    width: auto;
    padding-left: 17.5%;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }
  .drop-mult-j14{
    display: grid;
    width: 80px;
    margin-left: 400px;
    margin-top: -20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .drop-mult-j16{
    display: grid;
    width: 80px;
    margin-left: 360px;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .drop-mult-1j16{
    display: grid;
    width: 80px;
    margin-left: 280px;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .drop-mult-1j14{
    display: grid;
    width: 80px;
    margin-left: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .drop-mult-j12{
    display: grid;
    width: 80px;
    margin-left: 240px;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .drop-mult-j11{
    display: grid;
    width: 80px;
    margin-top: -15px;
    margin-left: 440px;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .drop-mult-j10{
    display: grid;
    width: 80px;
    margin-top: -20px;
    margin-left: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr ;
  }
  .drop-mult-1j10{
    display: grid;
    width: 80px;
    margin-left: 160px;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .drop-mult-1j11{
    display: grid;
    width: 80px;
    margin-left: 360px;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .drop-mult-1j12{
    display: grid;
    width: 80px;
    margin-left: 320px;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .drop-mult-2j11{
    display: grid;
    width: 80px;
    margin-left: 280px;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .drop-mult-2j14{
    display: grid;
    width: 80px;
    margin-left: 280px;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .drop-mult-3j14{
    display: grid;
    width: 80px;
    margin-left: 360px;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .drop-mult-f112{
    display: grid;
   
    width: auto;
    padding-left: 9%;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }
  .drop-mult-11 {
    display: grid;
    gap: 10px;
    width: auto;
    padding-left: 15.3%;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }
  .drop-mult-4 {
    display: grid;
    gap: 10px;
    width: auto;
    padding-left: 33%;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }
  .box-drop-mult {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 10px;
    border: 4px solid #161616;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    font-family: "fredoka one";
    font-weight: 900;
    color: black;
  }
  .box-drop-mult-s {
    width: 1px;
    left: 8%;
    height: 80px;
    position: fixed;
    background-color: white;
    border-radius: 10px;
    border: 4px solid #161616;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    font-family: "fredoka one";
    font-weight: 900;
    color: black;
  }
  .box-drop-mult-x {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 10px;
    border: 4px solid #161616;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    font-family: "fredoka one";
    font-weight: 900;
    color: black;
    margin-right: 0%;
  }
  .raya-mult {
    height: 10px;
    background-color: black;
    border: none;
    width: 52%;
    margin-right: 45%;
  }
  .raya-mult-1j11 {
    height: 10px;
    background-color: black;
    border: none;
    width: 45%;
    margin-left: 220px;
  }
  .raya-mult-j11 {
    height: 10px;
    background-color: black;
    border: none;
    width: 40%;
    margin-left: 270px;
  }
  .raya-mult-j14 {
    height: 10px;
    background-color: black;
    border: none;
    width: 43%;
    margin-right: 220px;
  }
  .raya-mult-2j14 {
    height: 10px;
    background-color: black;
    border: none;
    width: 55%;
    margin-right: 210px;
  }
  .az{
    background-color: rgb(45, 224, 248);

  }
  .box-drop-mult-s {
    width: 1px;
    padding-left: 40px;
    padding-right: 40px;
    height: 80px;
    position: fixed;
    background-color: rgb(45, 224, 248);
    border-radius: 10px;
    border: 4px solid #161616;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    font-family: "fredoka one";
    font-weight: 900;
    color: black;
  }
  .drag-mult {
    display: grid;
    gap: 2px;
    width: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 3px;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  }
  .grid-m{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-left: 80px;
  }
  .grid-m-1{ 
    width: 100%;
    justify-content: center;
    padding-left: 30px;
  }
  .grid-mu{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 75% 25%;
  }
  .grid-mu-j14{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 61% 45%;
  }
  .drag-mult-1 {
    display: grid;
    
    width: 50px;
    grid-template-columns: repeat(6, 1fr);
    gap: 3px;
  }
  .drag-d-mult {
    width: 80px;
    border-color: #23234d;
    border: 4px solid #161616;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    font-family: "fredoka one";
    font-weight: 900;
    color: #ffffff;
    background-color: #f20875;
    height: 80px;
    cursor: pointer;
  }
  .drag-d-mult :hover {
    background-color: #0df0ff;
    width: 65px;
  }
  .grid-valorposicion2{
    display: grid;
    color: white;
    font-weight: 700;
    font-size: 30px;
    grid-template-columns: 1fr 1fr;
  }
  .grid-valorposicion2 input{
    font-size: 30px;
    border-radius: 15px;
    margin: 4px;
    margin-bottom: 40px;
  
  }
  .grid-valorposicion2 img{
    width: 380px;
    height: 380px;
    background-position: center;
    border-radius: 30px;
  }
  .grid-valorposicion2 button{
    border: none;
    font-weight: 700;
    background-color: #f20875;
    color: white;
    font-family: "fredoka one";
    font-size: 30px;
    padding: 5px 10px;
    border-radius: 15px;
  }
  .unidad2{
    
    text-align: center;
    font-family: "roboto";
 
   }
   .unidad2 p{
     color: rgb(0, 31, 186);
     font-size: 20px;
     font-weight: 600;
     color: rgb(255, 255, 255);
     padding-top: 8px;
 
   }
   .unidad2 h4{
    background-color: #f20875;
    color: rgb(41, 42, 42);
    border-radius: 19px;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    font-family: "fredoka one";
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.129);
    padding: 10px;
   }